@page "/exploredocument"
@using AzureAiPlayground.Pages.ViewModels
@inherits ViewModels.ExploreDocumentPage;

@inject NavigationManager _navManager;

<h2>Single document playground</h2>


<MudContainer>

    <MudCard>
        <MudCardContent>
            <h3>Document Extraction</h3>
            <MudGrid>
                <MudItem xs="12" md="6">
                    <!-- Use the desired column sizes here -->
                    <MudTextField @bind-Value="@FilePathToImport" Label="Path"/>
                </MudItem>
                <MudItem xs="12" md="6">
                    <!-- Use the desired column sizes here -->
                    <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="@ExtractDocument">Load From disk</MudButton>
                </MudItem>
            </MudGrid>
        </MudCardContent>
    </MudCard>
    
    <MudCard hidden="@(ViewModel.CurrentDocument == null)">
        <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="@ViewModel.UpdateCountToken">Update Token Count</MudButton>
        <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="@ViewModel.SegmentDocument">Segment</MudButton>
                       
    </MudCard>

    <MudTabs Elevation="2" hidden="@(ViewModel.CurrentDocument == null)" Rounded="true" ApplyEffectsToContainer="true" PanelClass="pa-6">
        <MudTabPanel Text="Raw Document">
            <MudText>@ViewModel.CurrentDocument?.Document?.Id</MudText>
            <MudTable T="UiSingleDocumentPage"
                      Items="@(ViewModel.CurrentDocument?.Pages ?? Array.Empty<UiSingleDocumentPage>())"
                      @ref="ResultTable"
                      RowClassFunc="@SelectedRowClassFunc"
                      OnRowClick="RowClickEvent">
                <HeaderContent>
                    <MudTh></MudTh>
                    <MudTh>Page Number</MudTh>
                    <MudTh>Token Count</MudTh>
                </HeaderContent>
                <RowTemplate>
                    <MudTd>
                        <MudButton Variant="Variant.Outlined" Size="Size.Small" OnClick="@(() => ShowBtnPress(context))">@((context.ShowDetails == true) ? "Hide" : "Show") Details</MudButton>
                    </MudTd>
                    <MudTd DataLabel="PageNumber">@context.Page.PageNumber</MudTd>
                    <MudTd DataLabel="TokenCount">@context.Page.TokenCount</MudTd>
                </RowTemplate>
                <ChildRowContent>
                    @if (context.ShowDetails)
                    {
                        <MudTr>
                            <td colspan="4">
                                <MudCard Elevation="0">
                                    <MudCardHeader>
                                        <CardHeaderContent>
                                            <MudText Typo="Typo.body1">Page <strong>@context.Page.PageNumber</strong></MudText>
                                        </CardHeaderContent>
                                    </MudCardHeader>
                                    <MudCardContent Class="pa-0">
                                        <h6>Content</h6>

                                        <MudElement HtmlTag="pre" Class="my-class">
                                            @context.Page.Content
                                        </MudElement>
                                    </MudCardContent>
                                </MudCard>
                            </td>
                        </MudTr>
                    }
                </ChildRowContent>
            </MudTable>

            @* <MudExpansionPanels Style="flex: 1;"> *@
            @*     <MudExpansionPanel Text="Show Details"> *@
            @*         @if (SelectedPage != null) *@
            @*         { *@
            @*             <div>Content: @SelectedPage.Page.Content   </div> *@
            @*         } *@
            @*     </MudExpansionPanel> *@
            @* </MudExpansionPanels> *@
        </MudTabPanel>
        <MudTabPanel Text="Segments">
             <MudText>@ViewModel.CurrentDocument?.Document?.Id</MudText>
                        <MudTable T="UiSingleDocumentSegment"
                                  Items="@(ViewModel.CurrentDocument?.Segments ?? Array.Empty<UiSingleDocumentSegment>())"
                                  @ref="SegmentsTable">
                            <HeaderContent>
                                <MudTh>Page Number</MudTh>
                                <MudTh>Content</MudTh>
                                <MudTh>Token Count</MudTh>
                            </HeaderContent>
                            <RowTemplate>
                                
                                <MudTd DataLabel="PageNumber">@context.Segment.PageNumber</MudTd>
                                <MudTd DataLabel="TokenCount">@context.Segment.Content</MudTd>
                                <MudTd DataLabel="TokenCount">@context.Segment.TokenCount</MudTd>
                            </RowTemplate>
                        </MudTable>

        </MudTabPanel>

    </MudTabs>

</MudContainer>